/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-size: 1em ;
  line-height: 1.375em;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.landing-image {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/pool_sprite.png');
  background-repeat: no-repeat;
  background-position: -5px -5px;
  height: 403px;
  width: 604px;
  display: block;
}

.landing-image:hover {
  background-position: -619px -5px;
}

#page-content {
  padding: 1em 2em;
  font-family: "Courier New", Courier, monospace; 
  max-width: 1200px;
  margin: auto;
}
.content-wrapper {
  max-width: 700px;
  margin: auto;
  padding: 2em;
}
.ticker-wrap {
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 100px;
    margin: auto;
}
.top-ticker {
    top: 0;
}
.middle-ticker {
    bottom: 50%;
    top: 50%;
}
.bottom-ticker {
    bottom: 0;
}
.right-to-left {
    padding-left: 100%; // offsets items to begin
}
.right-to-left .ticker {
    padding-right: 100%; // taken from container as display inline-block
}
.left-to-right {
    padding-right: 100%; // offsets items to begin
}
.left-to-right .ticker {
    padding-left: 100%; // taken from container as display inline-block
}
.ticker {
    display: inline-block;
    height: 6rem;
    line-height: 6rem;
    white-space: nowrap;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.ticker__item {
    display: inline-block;
    padding: 0 1rem;
    font-size: 4rem;
}
@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);

    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    }
}

@keyframes reverseTicker {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);

    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
.slow {
    animation-duration: 60s; // tweak based on number of items/desired speed
}
.medium {
    animation-duration: 40s; // tweak based on number of items/desired speed
}
.fast {
    animation-duration: 25s; // tweak based on number of items/desired speed
}
.right-to-left .ticker {
    animation-name: ticker;
}
.left-to-right .ticker {
    animation-name: reverseTicker;
}
@media only screen and (max-width: 700px) {
    .landing-image {
        width: 95%;
        background: url('../img/pool_w_friends.jpg') center center no-repeat;
        background-size: contain;
    }

    .ticker__item {
        padding: 0 .5rem;
        font-size: 2rem;
    }

    .form-input {
      padding-top: 20px;
      display: block;
    }
}
form {
  padding-bottom: 20px;
}
a {
  color: inherit;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
hr {
  margin: 40px 0px;
}
header {
  padding-bottom: 20px;
}
header p {
  font-style: italic;
  font-size: 10pt;
}
h1 {
  font-size: 3em;
  line-height: 1.05em;
}
h2 {
  font-size: 2.25em;
  line-height: 1.25em;
  padding-bottom: 20px;
}
h3 {
  font-size: 1.75em;
  line-height: 1.25em;
}
h4 {
  font-size: 1.125em;
  line-height: 1.22em;
  padding: 10px 0px;
  font-weight: bold;
}
p {
  padding-bottom: 20px;
}
li {
  padding-bottom: 5px;
}
ol {
  padding-bottom: 20px;
  list-style-position: inside;
}
#col-container {
  display: flex;
  margin: 0 -50px;
}
#col2 {
  min-width: 300px;
  max-width: 400px;
}
#col1 {
  flex: 1;
}
.image-col__img {
  width: 100%;
  padding: 5px 0px;
}
.col {
  margin: 0 50px;
}
.right-link {
  float: right;
}
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 2em;
    line-height: 1.25em;
  }
  h2 {
    font-size: 1.625em;
    line-height: 1.15em;
    padding-bottom: 20px;
  }
  h3 {
    font-size: 1.375em;
    line-height: 1.136em;
  }
  h4 {
    line-height: 1.11em;
  }
  body {
    line-height: 1.25em;
  }
  .content-wrapper {
    padding: 0em;
  }
  #col-container {
    display: block;
  }
  #col2 {
    width: 75%;
    margin: auto;
  }
}
