---
layout: page 
---

{{ content }}
<h3>Archive</h3>
<ul class="myposts">
{% for post in site.posts reversed %}
    <li>
      <span>{{ post.title }}</span>
      |
      <span>Side A
        <a target="_blank" href="{{ post.youtube-a }}">YouTube</a> / <a target="_blank" href="{{ post.download-a }}">Download</a>
      </span>
      |
      <span>Side B
        <a target="_blank" href="{{ post.youtube-b }}">YouTube</a> / <a target="_blank" href="{{ post.download-b }}">Download</a>
      </span>
    </li>
{% endfor %}
</ul>
