---
layout: full-width 
---
{{ content }}
<h2>archive</h2>
<ul class="myposts">
{% for post in site.posts reversed %}
    <li>
      <span>{{ post.title }}</span>
      |
      <span>side a
        <a target="_blank" href="{{ post.youtube-a }}">youtube</a> / <a target="_blank" href="{{ post.download-a }}">download</a>
      </span>
      |
      <span>side b
        <a target="_blank" href="{{ post.youtube-b }}">youtube</a> / <a target="_blank" href="{{ post.download-b }}">download</a>
      </span>
      |
      <span>
        <a target="_blank" href="{{ post.url }}">tracklist</a>
      </span>
    </li>
{% endfor %}
</ul>
