---
layout: default
---
<div class="ticker-wrap top-ticker left-to-right">
  <div class="fast ticker">
    <div class="ticker__item">{{ page.message }}</div>
    <div class="ticker__item">{{ page.message }}</div>
    <div class="ticker__item">{{ page.message }}</div>
  </div>
</div>
<div class="ticker-wrap middle-ticker right-to-left">
  <div class="medium ticker">
    <div class="ticker__item">{{ page.message }}</div>
    <div class="ticker__item">{{ page.message }}</div>
    <div class="ticker__item">{{ page.message }}</div>
  </div>
</div>
<div class="ticker-wrap bottom-ticker left-to-right">
  <div class="slow ticker">
    <div class="ticker__item">{{ page.message }}</div>
    <div class="ticker__item">{{ page.message }}</div>
    <div class="ticker__item">{{ page.message }}</div>
  </div>
</div>
